<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dcis.html}" lang="de">
<head>
    <title>Home</title>
</head>
<body><section layout:fragment="content">

<h1 class="torg-header">Delphi Council Information System</h1>

<p class="torg-header-intend">Willkommen beim Delphi Council Informations System. Hier werden die Storm Knights und Spiele des Torganisierten Spiels verwaltet.</p>

</section></body>
</html>