<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dcis.html}" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Not yet imlemented</title>
</head>
<body><section layout:fragment="content">

<h1 class="torg-header"><span th:text="#{app.title}">Delphi Council IS</span></h1>

<p class="torg-header-intend">Diese Funktion ist noch nicht implementiert.</p>
<p class="torg-header-intend">This function is not implemented yet.</p>

</section></body>
</html>