<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dcis.html}" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Not yet imlemented</title>
</head>
<body>
<section layout:fragment="content">

    <h1 class="torg-header"><span th:text="#{app.title}">Delphi Council IS</span></h1>

    <p>Datumsfeld:</p>
    <p class="torg-header-indent" th:text="${#temporals.formatISO(date)}"/>

    <form class="row g-3 form-floating needs-validation" novalidate action="#" th:action="@{/}" th:object="${operative}"
          method="post">
        <input type="hidden" th:field="*{nameSpace}"/>
        <input type="hidden" id="created" th:field="*{created}" th:value="${#temporals.formatISO(operative.created)}"/>

        <div class="col-12">
            <div class="form-floating">
                <div class="input-group has-validation" th:unless="${#fields.hasErrors('created')}">
                    <input type="hidden" id="created" th:field="*{created}" th:value="${#temporals.formatISO(operative.created)}"/>
                </div>
                <div class="input-group has-validation" th:if="${#fields.hasErrors('created')}">
                    <input type="hidden" id="created" th:field="*{created}" th:value="${#temporals.formatISO(operative.created)}"/>
                    <div class="input-group has-validation" th:if="${#fields.hasErrors('created')}">
                        <ul class="invalid-feedback" id="validationId">
                            <li th:each="err : ${#fields.errors('created')}" th:text="${err}">error</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
</body>
</html>